/*
 * Custom CSS rules for login pages
 */

form table tr td {
	background-color: #EEE;
}

form#LoginAuthenticateUserForm div.welcome_message {
    text-align: center;
    margin-bottom: 15px;
}

input.loginButton {
    width: 200px;	
}

p.authQaError {
	color:red;
	display:block;
	font-weight:bold;
	text-align:center;
	margin: 4px auto;
}

body div#verificationCodeNote {
	color: #000;
}

ul.password-tip {
	margin-left: 0px;
    padding-left: 15px;
    text-align: left;
}